/* max-w-[1200px] h-[200px] w-full m-auto py-16 px-4 relative */
:root
{
    --backgroundColor: #142738;
    --metricsCard: white;
    --textColor: white;
    --secondaryTextColor: #142738; 
}

main
{
    background-color: var(--backgroundColor);
}

footer
{
    border-top: 1px solid white;
    color:var(--textColor);
    display: flex;
    align-items: space-evenly;
    justify-content: flex-start;
}
.carouselParent
{
    height: 700px;
    margin-bottom: 10%;
}

.imgSlider
{
    height: 700px;
    width: 100%;
}

.bmiInfo, .calorieInfo, .bodyFatInfo
{
    margin-bottom: 10%;

    /* padding: 5%; */
}

.metricsCardContainer
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}

.metricsCard
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--metricsCard);
    color: var(--backgroundColor);
    width: 20rem;
    height: 25vh;
    text-align: center;
    border: 2px solid var(--backgroundColor);
    border-radius: 5px;
    cursor: pointer;
    
}

.fitnessMetricsHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    margin-bottom: 2%;
}

.metricInfoHeaderContainer
{
    width: fit-content;
}

.metricInfoHeader
{
    
    color: var(--textColor);
    width: 15%;
    margin-left: 5%;
    border-radius: 5px;
    border: 1.5px solid var(--backgroundColor);
    text-align: center;
    border: 2px solid var(--metricsCard);
}

.bmiInfoDescription, .caloriesInfoDescription, .bodyFatInfoDescription
{
    display: flex;
    color: var(--secondaryTextColor);
    background-color: var(--metricsCard);
    height: max-content;
    width: fit-content;
    flex-wrap: wrap;

}   

.desc
{
    margin-left: 5%;
}