/* max-w-[1200px] h-[200px] w-full m-auto py-16 px-4 relative */
:root
{
    --backgroundColor: #142738;
    --metricsCard: white;
    --textColor: white;
    --secondaryTextColor: #142738; 
}

main
{
    background-color: var(--backgroundColor);
}

/* container parent for the carousel */
.carouselParent
{
    margin-bottom: 5%;
}

/* images in the carousel */
.imgSlider
{
    height: 70vh ;
    object-fit: cover;
    width: 100%;
}

/* setting background to caption in carousel to make caption visible */
.imgCaption
{
    background-color: var(--backgroundColor);
    opacity: 0.9;
    color: var(--metricsCard);
    border-radius: 10px;
}



/* Fitness metric row and text */
.fitnessMetricsHeader
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    margin-bottom: 2%;
}

/* row of each card metric */
.metricsRow
{
    margin-bottom: 5%;
}

/* heading  of each metric card */
.metricsCard
{
    
    background-color: var(--metricsCard);
    color: var(--backgroundColor);
    text-align: center;
    border: 2px solid var(--backgroundColor);
    border-radius: 5px;
    text-align: center;
    width: 20rem;
    height: 40vh;
    
}


/* description of each metric card */
.metricsCardDescription
{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    /* border: 2px solid var(--textColor); */
    margin-left: -5%;
}




